---
import '../styles/main.css'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Frontend Mentor newbie projects">
  <h1>Frontend Mentor newbie projects</h1>
  <a href="/results-summary-component">results-summary-component</a>
</Layout>

